<html>
  <head>
    <link rel="stylesheet" href="/main.css" />

  </head>
  <body>
    <script src="/front-end.js"></script>
    <header>
      <h1>Fo Flo Fre Fel Inc</h1>
    </header>
    <nav id="headerLinksContainer">
      <div id="headerLinks">

      </div>
      <div id="headerUser">
          <a href="">USER</a>
      </div>
    </nav>
    <main>
    {{{body}}}
    </main>
    <footer>
    </footer>
  </body>
</html>