<section id='productFormSection'>
  <h2>Add Product</h2>
  <form action='/admin/newProduct' method='POST' id='productForm'>
    <ul id="formElements">
      <li>
        <label for='title'>Title</label>
        <br />
        <input type='text' id='title' name='title' class="addProductFormElement" required/>
      </li>
      <li>
        <label for='price'>Price</label>
        <br />
        <input type='number' step="0.01" id='price' name='price' class="addProductFormElement" required/>
      </li>
      <li>
        <label for='category'>Category</label>
        <br />
        <select id='category' name='category' class="addProductFormElement" required>
          <option value="Men's Clothing">Men's Clothing</option>
          <option value="Women's Clothing">Women's Clothing</option>
          <option value="Jewelery">Jewelery</option>
          <option value="Electronics">Electronics</option>
        </select>
      </li>
      <li>
        <label for='image'>Image</label>
        <br />
        <input type='url' id='image' name='image' class="addProductFormElement" required />
      </li>
      <li>
        <label for='description'>Description</label>
        <br />
        <textarea rows='7' cols='50' id='description' class="addProductFormElement" name='description' required></textarea>
      </li>
    </ul>
    <div id='relatedToForm'>
      <div id='imagePreview'>
        <p>Image Preview</p>
        <img id="imageLink" src='https://via.placeholder.com/300' />
      </div>
      <div id='formButtons'>
        <button id='resetButton'>Clear</button>
        <button type='submit'>Create</button>
      </div>
    </div>
  </form>
</section>
<script src="/scripts/addProduct.js"></script>
