<section id='productFormSection'>
  <h2>Add Product</h2>
  <form action='/admin/newProduct' method='POST' id='productForm'>
    <ul>
      <li>
        <label for='title'>Title</label>
        <input type='text' id='title' name='title' />
      </li>
      <li>
        <label for='price'>Price</label>
        <input type='number' id='price' name='price' />
      </li>
      <li>
        <label for='category'>Category</label>
        <input type='text' id='category' name='category' />
      </li>
      <li>
        <label for='image'>Image</label>
        <input type='url' id='image' name='image' />
      </li>
      <li>
        <label for='description'>Description</label>
        <textarea rows='7' cols='50' id='description' name='description'>
        </textarea>
      </li>
    </ul>
    <div id='relatedToForm'>
      <div id='imagePreview'>
        <p>Image Preview</p>
        <img src='https://via.placeholder.com/300' />
      </div>
      <div id='formButtons'>
        <button id='resetButton'>Clear</button>
        <button type='submit'>Create</button>
      </div>
    </div>
  </form>
</section>