<section id='addProductSection'>
  <h2>New Product Item</h2>
  <form action='/admin/newProduct' method='POST' id='addProductForm'>
    <ul>
      <li>
        <label for='title'>Title</label>
        <input type='text' id='title' name='title' required/>
      </li>
      <li>
        <label for='price'>Price</label>
        <input type='number' id='price' name='price' required/>
      </li>
      <li>
        <label for='category'>Category</label>
        <input type='text' id='category' name='category' required/>
      </li>
      <li>
        <label for='image'>Image</label>
        <input type='url' id='image' name='image' required />
      </li>
      <li>
        <label for='description'>Description</label>
        <textarea rows='4' cols='50' id='description' name='description' required>
        </textarea>
      </li>
    </ul>
    <button id="resetButton">Reset Form</button>
    <button type='submit'>Create Product</button>
  </form>
</section>