<!DOCTYPE html>
<html>
<head>
  <title>Checkout canceled</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <h3>Forgot to add something to your cart? Shop around then come back to pay!</h3>
    <div style="text-align: center"><a  href="/products"><button>Continue Shopping!</button></a></div>
    
  </section>
</body>
</html>