<div id="login">
  <form {{!-- action="/user/login"--}} {{!--method="POST"--}}>
    <h1>Login</h1>
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" name="email">
      </div>
    </div>
    <div class="row mb-3">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="password">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" name="remember" value='true'>
          <label class="form-check-label" for="remember">
            Remember Me
          </label>
        </div>
      </div>
    </div>
  <button type="submit" id="submitBtn" class="btn btn-primary">Sign in</button>
  </form>
</div>









<script>
  const form = document.getElementsByTagName("form");




  console.log("btn: ", form)

  const getUser = async (e) => {
    e.preventDefault();
    
    console.log('triggered')

    const email = document.getElementsByName("email")[0].value;
    const password = document.getElementsByName("password")[0].value;


    const data = {email, password};

    console.log("data: ", data)
    try{
      const user = await fetch('/user/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }) 

      console.log("response from server: ", user);

    } catch (err) {
      console.error(err)
    }

    
  }


    form.onsubmit = getUser;
</script>