<section>
	<h2>Browse our products!</h2>
	{{#each products}} <!-- for each sauce in products, create this html -->
		<article>
    <a class="btn" href="/api/products/{{id}}">
			<img class="item-img" src="{{image}}" />
      <h2>{{title}}</h2>
      <p>${{price}}</p>
			</a>
		</article>
	{{/each}}
</section>