<h1>welcome to the signup page</h1>
<form action="/api/signup" method="POST" id="new-user">
   <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="input" class="form-control" id="name" name='name'>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
    <div id="email" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name='password'>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Agree to the Terms and Conditions</label>
  </div>
  <button type="submit" class="btn btn-dark">Sign Up!</button>
</form>
