<section class="single-product">
    <img class="single-product-image" src={{product.image}} />
    <div class="single-product-text">
        <div id="single-product-title">{{product.title}}</div>
        <div id="single-product-category">{{product.category}}</div>
        <div class="single-product-description">{{product.description}}</div>
    </div>
</section>