<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div style="text-align: center;">
    <h3>Thank you for your purchase!!</h3>
  <br/>
  <h5>Your order will be shipped within 2-3 business days.</h5>
  <br/>
  <a href='/products'><button>Shop Some More!</button></a>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div>We appreciate your business! If you have any questions, please email
  <a href="mailto:orders@example.com">orders@foflofrefel.com</a></div> 
    

  </div>
</body>
</html>