/* Applies to all */
body {
  background-color: #fdffc7;
  padding: 0;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
}

/* Header */

header {
  background-color: white;
}

header h1 {
  padding: 20px;
  margin: 0;
}

/* Navigation */

nav {
  display: flex;
  flex-direction: column;
  background-color: white;
}

#categoryLinks{
  background-color: #b6f378;
  width: 100%;
  flex-wrap: wrap;
  height: 50px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav p {
  font-size: 20px;
}

#headerNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

#cartUserContainer {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

/* Main */

main {
  display: flex;
  justify-content: center;
  min-height: 500px;
  background-color: white;
}

/* Footer */

footer {
  height: 125px;
  background-color: #efefef;
  border-top: 2px solid #ffbc65;
}
